@model BookStore.Data.ViewModels.ProductVM;

@{
    ViewData["Title"] = "Unos novog proizvoda";
}

<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4> Unos proizvoda </h4>
        </p>
        <div class="row">
            <div class="col-md-8 offset-2">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="Name" class="control-label"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Author" class="control-label"></label>
                                <input asp-for="Author" class="form-control" />
                                <span asp-validation-for="Author" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Language" class="control-label"></label>
                                <input asp-for="Language" class="form-control" />
                                <span asp-validation-for="Language" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="State" class="control-label"></label>
                                <input asp-for="State" class="form-control" />
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price" class="control-label"></label>
                                <input asp-for="Price" type="number" class="form-control" />
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            @* <div class="form-group">
                                <label class="control-label">Upload</label>
                                <input type="file" name="ProductPicture" asp-for="ProductPicture" class="form-control" accept=".jpg;.png" required />
                            </div> *@
                            <div class="form-group">
                                <label asp-for="ImageUrl" class="control-label"></label>
                                <input asp-for="ImageUrl" class="form-control" />
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="CategoryId" class="control-label"></label>
                                <select id="CategoryList" asp-for="CategoryId" class="form-control" asp-items="ViewBag.Categories">
                                    <option value="-1">Odabir kategorije</option>
                                </select>
                                <span asp-validation-for="CategoryId" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="SubCategoryId" class="control-label"></label>
                                <select asp-for="SubCategoryId" class="form-control" id="subCategory"></select>
                                <span asp-validation-for="SubCategoryId" class="text-danger"></span>
                            </div>

                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <textarea asp-for="Description" class="form-control"></textarea>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 offset-4 text-center">
                        <img width="100%" id="ImageUrlPreview" />
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Unesi" class="btn btn-outline-success float-right" />
                        <a class="btn btn-outline-secondary" asp-action="Index"> Vratite se natrag na pregled svojih proizvoda </a>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $("#ImageUrl").on("change", function () {
            var Result = document.getElementById("ImageUrlPreview");
            Result.src = $(this).val();
        })
    </script>
    <script>
        $(document).ready(function () {
            $("#CategoryList").on("change", function () {
                $.ajax({
                    type: "Post",
                    url: "/Product/GetSubCategory",
                    data: { "CategoryId": $("#CategoryList").val() },
                    success: function (response) {
                        var items = '';
                        $(response).each(function () {
                            items += "<option value=" + this.value + ">" + this.text + "</option>";
                        })
                        $("#subCategory").html(items);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    },
                    error: function (response) {
                        alert(response.responseText);
                    }
                });
            })
        });
    </script>

}  