@using BookStore.Data.ViewModels;
@model AddPasswordVM

<h2>Dodajte lozinku</h2>
<hr />
<p class="text-info">
    Za prijavu na ovu web stranicu, koristili ste vanjski korisnički račun.
    Jednostavno postavite novu lozinku ako se želite prijaviti pomoću lokalnog računa.
    Koristite svoju e-mail adresu kao korisničko ime.
</p>
<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger">
                </span>
            </div>
            <button type="submit" class="btn btn-primary"
                    style="width:auto">
                Postavite lozinku
            </button>
        </form>
    </div>

</div>