﻿@{
    ViewData["Title"] = "Uspješna registracija";
}

<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h3> Uspješna registracija!</h3>
        <p>Uspješno ste se registrirali te se sada može ulogirati s Vašim korisničkim podacima</p>
        <hr />
        <a asp-action="Login" asp-controller="Account" class="btn btn-outline-info">
            <i class="fas fa-regular fa-refresh"></i>
            Molimo vas, ulogrijate se u svoj korisnički račun.
        </a>
    </div>
</div>