@{
    var errorMessage = ViewData["ErrorMessage"];
}

<h3>@errorMessage</h3>
<h6> Pritisnite gumb dolje da se vratite na home page </h6>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary"></a>