﻿@{
    ViewData["Title"] = "Narudžba je uspješno napravljena";
}
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h3> Narudžba je uspješno napravljena! </h3>
        <hr />
        <p> Hvala! </p>
        <a asp-action="Index" asp-controller="Product" class="btn btn-outline-info">
            <i class="fas fa-regular fa-refresh"></i>
            Vratite se natrag na popis proizvoda
        </a>
    </div>
</div>